body {
    display: grid;
    grid-template-areas:
        "header header header"
        "article1 article2 article3"
        "article article article";
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 30px;
}

header, article {
    padding: 1.2em;
    background: blue;
    text-align: center;
}

#pageHeader {
    grid-area: header;
}

#photoSection {
    grid-area: article;
}

#Article {
    grid-area: auto;
    align-content: center;
}

img {
    float: left;
    width: 315px;
    height: 315px;
    object-fit:cover;
}

span {
    font-size: 25px;
}

h3 {
    font-size: 25px;
}

h1{
    font-size: 40px;
}

h2 {
    font-size: 26px;
    padding-top: 20px
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

#Article2 {
    padding-bottom: 70px; 
}



.val-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
}

.val-button:hover {
    cursor: pointer;
}

form #decrease {
    border-radius: 25px;
    width: 25px;
    height: 20px;
    padding: 0px;
}

form #increase {
    border-radius: 25px;
    width: 25px;
    height: 20px;
    padding: 0px;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 30px;
    border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0px;
}
